.section-block {
  text-align: center;
  font-family: "Raleway";
}

.section-title {
  font-size: 24px;
  font-weight: 500;
}

.section-subtitle {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 700;
}
