.section-block {
  padding-top: 115px;
  text-align: center;
  font-family: "Raleway";
}

.section-title {
  font-size: 30px;
  font-weight: 500;
}

.section-subtitle {
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 700;
}
