.best-sellers__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 20px;
}

.best-sellers {
  background-color: rgba(204, 204, 204, 0.3);
  padding-top: 20px;
}

.best-sellers-wrap {
  display: flex;
  justify-content: space-between;
}

.best-sellers-card__img {
  max-width: 300px;
  margin: 0 auto 27px;
}

.best-sellers-card__img img {
  width: 300px;
}

.best-sellers-card__title {
  text-align: center;
  font-family: "Roboto";
  margin: 0 auto;
  max-width: 160px;
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.best-sellers-card__price {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.link-button {
  position: relative;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background: transparent;
  text-decoration: underline;
  margin-bottom: 20px;
  border: 0;
  padding: 0;
}

.our-guides {
  margin: auto;
  text-align: center;
  max-height: 692px;
  margin-bottom: 89px;
}

.our-guides-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 27px;
  font-size: 36px;
}

.our-guides-title__text {
  font-size: 20px;
  margin: auto;
  text-align: center;
  max-width: 692px;
  margin-bottom: 47px;
}

.best-sellers-box {
  background: rgba(204, 204, 204, 0.3);
  padding: 60px;
}

.best-sellers-box-wrap {
  display: flex;
}

.best-sellers-box__img {
  width: 385px;
}

.best-sellers-box__img img {
  width: 100%;
}

.best-sellers-box__description {
  width: calc(100% - 385px);
  padding: 50px 50px;
}

.best-sellers-box--reverse .best-sellers-box-wrap {
  flex-direction: row-reverse;
}

.best-sellers-box--reverse {
  background: rgba(204, 204, 204, 0.6);
  margin-left: auto;
}

.best-sellers-box-descriptions__info {
  max-width: 500px;
  font-size: 36px;
  margin-left: 155px;
}

.link-button {
  display: inline-block;
}
