@font-face {
        font-family: "CustomFont";
        src: url("../fonts/Roboto-Bold.ttf");
        font-weight: 700;
}
@font-face {
    font-family: "Custom2";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}