.header-wrap {
  display: flex;
}

.navigation-list {
  display: flex;
}

.navigation-list__item:not(:last-child) {
  margin-right: 20px;
}

.navigation-list__item a {
  font-size: 16px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.logo img {
  vertical-align: bottom;
  display: flex;
}

.navigation-list {
  margin-right: 97px;
}

@media (max-width: 661px) {
  .navigation {
    display: none;
  }
}

.logo {
  margin: auto;
}
