@font-face {
  font-family: "OpenSans";
  src: url(./fonts/OpenSans-Regular.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-Regular.ttf);
  font-weight: 400;
}
