.favorites {
  margin-top: 120px;
}

.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  font-family: "CustomFont";
  color: #212a2f;
  /* margin-bottom: 32px; */
}

.section-info {
  font-size: 16px;
  font-weight: 700;
  color: #212a2f;
}

.section-title_left {
  text-align: left;
  font-family: "CustomFont";
  font-weight: 700;
  margin-top: 119px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.tabs-sheet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 32px;
  font-family: "CustomFont";
  font-size: 16px;
  color: #212a2f;
}

.tabs-sheet label:not(:first-of-type) {
  margin-left: 20px;
}

.tabs-sheet label:hover {
  cursor: pointer;
}

.tabs-sheet input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border-bottom: 2px solid black;
}

.tabs-sheet label {
  display: inline-block;
  color: rgba(33, 42, 47, 1);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 40px;
}

.card__buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "CustomFont";
  font-size: 14px;
  letter-spacing: 2px;
}

.card__buttons .button:first-child {
  margin-bottom: 12px;
}

.card__img {
  position: relative;
}

.card__img img {
  display: block;
  width: 100%;
}

.cards-grid .card {
  width: calc((100% - 48px) / 3);
}

.tab-content {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #d3d4d5;
  padding-top: 34px;
  margin-bottom: 152px;
}

.card__description {
  border-top: 1px solid #d3d4d5;
  display: flex;
  align-items: center;
  padding-top: 16px;
}

.card__description span {
  padding-left: 12px;
  font-size: 16px;
  font-family: "CustomFont";
  color: #212a2f;
  font-weight: 400;
}

.card__info {
  padding: 22px;
  text-align: initial;
}

.card__title {
  padding-bottom: 16px;
  font-size: 22px;
  font-family: "CustomFont";
  color: #212a2f;
  font-weight: 700;
}

.card__subtitle {
  font-size: 16px;
  font-family: "CustomFont";
  color: #212a2f;
  font-weight: 400;
}

.img-section img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.section-block {
  margin-top: 52px;
  margin-bottom: 134px;
  text-align: center;
  color: #212a2f;
}

.section-info {
  padding-top: 54px;
  padding-bottom: 30px;
  max-width: 823px;
  margin: 0 auto;
  text-align: center;
}

.section-button .button:last-child {
  margin-left: 25px;
}

.section-cards {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.button_color-black {
  font-family: "CustomFont";
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
}

.button_long {
  width: 384px;
  height: 48px;
  text-align: center;
}

.section-note {
  padding-top: 24px;
}

@media (max-width: 799px) {
  .cards-grid .card {
    width: calc((100% - 24px) / 2);
  }
  .cards-grid {
    flex-wrap: wrap;
  }
}

@media (max-width: 499px) {
  .cards-grid .card {
    width: 100%;
  }
}
