.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 450px;
}

.footer {
  padding: 72px 54px;
  background: #212a2f;
  color: white;
  font-family: "CustomFont";
}

.footer-links-list * {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer-links-title {
  margin-bottom: 21px;
  font-size: 14px;
}

.footer-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 85px;
}
.footer-block-info {
  max-width: 293px;
}

.footer-block-info__title {
  margin-bottom: 21px;
}

.footer-block-info__subtitle {
  /* max-width: 293px; */
  font-size: 12px;
  line-height: 18px;
}

.footer-flags a:first-child {
  margin-right: 24px;
}

.allrights {
  margin-top: 126px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.footer-flags {
  width: 300px;
  display: inline-block;
}
