.header-wrap {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  line-height: 21px;
  font-family: "CustomFont";
}

.navigation-list-item:not(:last-child) {
  margin-right: 36px;
}

.navigation-list-item a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  color: black;
}

.logo img {
  display: flex;
  vertical-align: bottom;
}

.header-user-action__icon {
  height: 24px;
  background-color: #ffffff;
  border: none;
  font-size: 20px;
}

.header-user-action__icons {
  display: flex;
  margin-left: 25px;
}

.header-user-action {
  display: flex;
  align-items: center;
}

.header-user-action__icons * + * {
  margin-left: 20px;
}

.bg-section {
  position: relative;
  height: 740px;
  background-image: url("../image/main-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-info-title {
  z-index: 1;
  font-weight: 700;
  font-size: 48px;
  line-height: 63px;
  color: #ffffff;
  margin-bottom: 11px;
}

.background-info-subtitle {
  z-index: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}

.button {
  z-index: 1;
  background: #ffffff;
  border-radius: 2px;
  font-size: 14px;
  /* width: 180px;
  height: 40px; */
  padding: 15px 45px;
  border: none;
  font-weight: 700;
}

.button_color-black {
  background: #212a2f;
  color: #ffffff;
}

.container_content-bottom {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.background-info {
  font-family: "CustomFont";
  padding-bottom: 50px;
}

.navigation {
  display: flex;
  align-items: center;
}

.background-buttons {
  display: flex;
  flex-wrap: wrap;
}

.button {
  margin-right: 20px;
  cursor: pointer;
}

.background-buttons .button:last-child {
  margin-right: 0;
}

@media (max-width: 743px) {
  .navigation {
    display: none;
  }
}

@media (max-width: 419px) {
  .background-buttons {
    justify-content: center;
    margin: auto;
  }
}

@media (max-width: 376px) {
  .button {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
